{% extends "base.html" %} {% block title %}Home{% endblock %}

<!--What we basically did is created a child of base.html, and it 
    will inherit all of the properties from base.html-->
<!--and with the block title we changed the title name here as Home-->

{% block content %}
<body style="background-color:rgb(146, 198, 214);">
<h1 align="center"><i>Notes</i></h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<br />
<form method="POST"> 
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
</body>
{% endblock %}